{% load static %}
<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="javascript:void(0);" onclick="swapPage('home', true);" class="logo">
						<img src="{% static 'images/logo.png' %}" style="width: 60px; height: 60px;" alt="E-TEC">
					</a>
					<nav id="nav">
						<a href="javascript:void(0);" onclick="swapPage('home', true);">Home</a>
						<a href="javascript:void(0);" onclick="swapPage('services', true);">Courses</a>
						<a href="javascript:void(0);" onclick="swapPage('about', true);">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="background-image: url({% static 'images/aboutbanner.jpg' %})">
				<div class="inner">
					<header>
						<h1>About</h1>
						<div class="button" onclick="scrollToDiv('#contact_form');">Contact Us</div>
						<br>
						<br>
						<br>
						<h3>Who we are</h3>
					</header>
				</div>
			</section>
        <!-- Main -->
				<div class="inner">
                    <hr class="major"/>
					<!-- Content -->
					
						<h2 id="content">We're pleased to meet you</h2>
						<p>E-TEC accelerated training delivers cost-effective customized training and online courses tailored to meet the needs of rehabilitation clinics, medical specialists working in the community, and administrative support staff. With multifaceted teaching methods, employees can individually complete basic to advanced training, resulting in optimized workflow and a unified standard for internal procedures. 
						</p>
						<div class="row">
							<div class="6u 12u$(small)">
								<h3>Our Experience</h3>
								<p>Our team comes from various backgrounds and have come together to bring our passion for organizational excellence to other teams across the world. We have worked with small and large companies, including extensive healthcare networks, looking to invest in their most important resource. </p>
							</div>
							<div class="6u$ 12u$(small)">
								<h3>Our City</h3>
								<p>We are located in Canada's biggest and busiest city, Toronto, Ontario. Our centralized location allows us to work with and learn from world class companies. Toronto is the international centre of business, finance, arts and culture, and the city's diversity is reflected in our team.</p>
							</div>
                        </div>
						<hr class="major" />
						<h2 id="content">See a reduction in redundant support requests and lower IT costs</h2>
						<p>
						Our training solutions take education to the next level. We work alongside preferred training providers to develop specialized courses that elevate employee performance and overall business functionality. Our blended learning solutions cater to the individual needs of each organization and boost the efficiency of daily operations. Employees who complete our training:
						</p>
						<p>
						1. Require less technical support and stay focused on their responsibilities.
						</p>		
						<p>
						2. Make fewer errors and deliver reliable, high quality results.
						</p>
						<p>
						3. Show confidence in their skill level, leading to increased morale.
						</p>
						<a style="cursor: pointer;" onclick="swapPage('services', true);">For more information, see our course catalog</a>
					<hr class="major"/>
                </div>
    