{% load static %}
		<!-- Header -->
			<header id="header" style="background: #6cc091;">
				<div class="inner">
					<a href="javascript:void(0);" onclick="swapPage('home', true);" class="logo">
                        <img src="{% static 'images/logo.png' %}" style="width: 40px; height: 40px; margin-top: 5px" alt="E-TEC">
                    </a>
                    <nav id="nav">
                        <a href="javascript:void(0);" onclick="swapPage('home', true);">Home</a>
                        <a href="javascript:void(0);" onclick="swapPage('services', true);">Services</a>
                        <a href="javascript:void(0);" onclick="swapPage('about', true);">About</a>
                    </nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
            </header>
        <!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>About</h2>
						<p>Who we are </p>
						<div class="button" onclick="scrollToDiv('#contact_form');">Contact Us</div>
                    </header>
                    <hr class="major" />

					<!-- Content -->
						<h2 id="content">We're pleased to meet you</h2>
						<p>We are a team of highly-skilled professionals excited to bring you the training needed to allow your organization to thrive. Specializing in Excel, Management, and Policy Training, we offer an extensive range of programs for different levels of experience, that can be catered to any size organization in any industry. We are a team of constant learners who are passionate about bringing positive change to organizations and learning from every team that we work with. Please visit our Contact Us page if you are interested in more information about our services. We are excited to meet you!</p>
						<div class="row">
							<div class="6u 12u$(small)">
								<h3>Our Experience</h3>
								<p>Our team comes from various backgrounds and have come together to bring our passion for organizational excellence to other teams across the world. We have worked with small and large companies, including extensive healthcare networks, looking to invest in their most important resource. </p>
							</div>
							<div class="6u$ 12u$(small)">
								<h3>Our City</h3>
								<p>We are located in Canada's biggest and busiest city, Toronto, Ontario. Our centralized location allows us to work with and learn from world class companies. Toronto is the international centre of business, finance, arts and culture, and the city's diversity is reflected in our team.</p>
							</div>
                        </div>
                        <hr class="major" />
                </div>
            </section>