{% load static %}
<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="javascript:void(0);" onclick="swapPage('home', true);" class="logo">
						<img src="{% static 'images/logo.png' %}" style="width: 60px; height: 60px;" alt="E-TEC">
					</a>
					<nav id="nav">
						<a href="javascript:void(0);" onclick="swapPage('home', true);">Home</a>
						<a href="javascript:void(0);" onclick="swapPage('services', true);">Courses</a>
						<a href="javascript:void(0);" onclick="swapPage('about', true);">About</a>
						<a href="javascript:void(0);" onclick="scrollToDiv('#contact_form');">Contact</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to E-TEC</h1>
						<p>Exceed Training and Education Company<br>
							We provide specialized training programs for your workforce.</p>
							<br>
					</header>

					<div class="flex">
						<div class="flex-obj" style="cursor: pointer;" href="javascript:void(0);" onclick="swapPage('innovate', true);">
							<span class="icon fa-clone"></span>
							<h3 >Innovation</h3>
						</div>
						<div class="flex-obj" style="cursor: pointer;" href="javascript:void(0);" onclick="swapPage('manage', true);">
							<span class="icon fa-bolt"></span>
							<h3 >Management</h3>
						</div>
						<div class="flex-obj" style="cursor: pointer;" href="javascript:void(0);" onclick="swapPage('policy', true);">
							<span class="icon fa-eye"></span>
							<h3>Policy</h3>
						</div>
					</div>

					<footer>
						<div class="button" onclick="scrollToDiv('#contact_form');">Get Started</div>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image">
								<img src="{% static 'images/domore.png' %}" alt="domore" />
							</div>
							<header>
								<h3>Set New Standards</h3>
							</header>
							<p>
								Technology is constantly evolving and impacts the success <br>
								of every business. Ensure your team stays current with <br>
								our extensive range of cutting-edge training programs <br>
								that can be catered to fulfill the needs of any organization, <br>
								large or small. Our highly-skilled professionals are excited <br>
								to provide effective training techniques that revitalize <br>
								staff and produce prosperous businesses.
							</p>
							<footer>
								<div class="button" onclick="swapPage('services', true);">Learn More</div>
							</footer>
						</article>
						<article>
							<div class="image">
								<img src="{% static 'images/smile.png' %}" alt="Smile" />
							</div>
							<header>
								<h3>Build Your Team</h3>
							</header>
							<p>
								Our mission is simple. Invest in your work force and unlock <br>
								the true potential of your people. Our methodology is proven <br>
								 to increase productivity by utilizing educational leadership, <br>
								 incentivized training, and practical teamwork services. We <br>
								 are a team of constant learners who are passionate about <br>
								 bringing positive change to your workplace. <br> <br>
							</p>
							<footer>
								<div class="button" onclick="swapPage('about', true);">Learn More</div>
							</footer>
						</article>
					</div>
				</div>
			</section>