{% load static %}
<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="javascript:void(0);" onclick="swapPage('home', true);" class="logo">
						<img src="{% static 'images/logo.png' %}" style="width: 60px; height: 60px;" alt="E-TEC">
					</a>
					<nav id="nav">
						<a href="javascript:void(0);" onclick="swapPage('home', true);">Home</a>
						<a href="javascript:void(0);" onclick="swapPage('services', true);">Services</a>
						<a href="javascript:void(0);" onclick="swapPage('about', true);">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to E-TEC</h1>
						<p>Exceed Training and Education Company<br>
							We provide specialized training programs for your workforce.</p>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-clone"></span>
							<h3>Excel</h3>
							<p>Efficient, data trends, great charts.</p>
						</div>

						<div>
							<span class="icon fa-bolt"></span>
							<h3>Management</h3>
							<p>Leadership, strategy, work culture.</p>
						</div>

						<div>
							<span class="icon fa-eye"></span>
							<h3>Policy</h3>
							<p>Security, governance, cultural.</p>
						</div>

					</div>

					<footer>
						<div class="button" onclick="scrollToDiv('#contact_form');">Get Started</div>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image">
								<img src="{% static 'images/excel.png' %}" alt="Excel" />
							</div>
							<header>
								<h3>Create New<br /> Insights</h3>
							</header>
							<p>
								Excel is a powerful productivity tool to have.<br />
								Ensure your employees take full advantage <br />
								by learning the fundemental techniques.
							</p>
							<footer>
								<div class="button" onclick="scrollToDiv('#contact_form');">Learn More</div>
							</footer>
						</article>
						<article>
							<div class="image">
								<img src="{% static 'images/culture.png' %}" alt="Culture" />
							</div>
							<header>
								<h3>Build Great<br /> Work Culture</h3>
							</header>
							<p>
								Invest in your workforce. Bring your team together <br />
								with educational leadership and teamwork services.<br />
								Unlock the potential of your people.</p>
							<footer>
								<div class="button" onclick="scrollToDiv('#contact_form');">Learn More</div>
							</footer>
						</article>
					</div>
				</div>
			</section>