{% load static %}
<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="javascript:void(0);" onclick="swapPage('home', true);" class="logo">
						<img src="{% static 'images/logo.png' %}" style="width: 60px; height: 60px;" alt="E-TEC">
					</a>
					<nav id="nav">
						<a href="javascript:void(0);" onclick="swapPage('home', true);">Home</a>
						<a href="javascript:void(0);" onclick="swapPage('services', true);">Services</a>
						<a href="javascript:void(0);" onclick="swapPage('about', true);">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to E-TEC</h1>
						<p>Exceed Training and Education Company<br>
							We provide specialized training programs for your workforce.</p>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-clone"></span>
							<h3>Excel</h3>
							<p>Efficient, data trends, great charts.</p>
						</div>

						<div>
							<span class="icon fa-bolt"></span>
							<h3>Management</h3>
							<p>Leadership, strategy, work culture.</p>
						</div>

						<div>
							<span class="icon fa-eye"></span>
							<h3>Policy</h3>
							<p>Security, governance, cultural.</p>
						</div>

					</div>

					<footer>
						<div class="button" onclick="scrollTo('#contact_form');">Get Started</div>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image">
								<img src="{% static 'images/excel.png' %}" alt="Excel" />
							</div>
							<header>
								<h3>Create New<br /> Insights</h3>
							</header>
							<p>
								Excel is a powerful productivity tool to have.<br />
								Ensure your employees take full advantage <br />
								by learning the fundemental techniques.
							</p>
							<footer>
								<div class="button" onclick="scrollTo('#contact_form');">Learn More</div>
							</footer>
						</article>
						<article>
							<div class="image">
								<img src="{% static 'images/culture.png' %}" alt="Culture" />
							</div>
							<header>
								<h3>Build Great<br /> Work Culture</h3>
							</header>
							<p>
								Invest in your workforce. Bring your team together <br />
								with educational leadership and teamwork services.<br />
								Unlock the potential of your people.</p>
							<footer>
								<div class="button" onclick="scrollTo('#contact_form');">Learn More</div>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3 id="contact_form">Get in touch</h3>

					<form onsubmit="return contact_us();">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<div id="error_contact">

						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>
					<hr class="major" />
					<div class="row">
							<!-- Break -->
							<div class="4u 12u$(medium)">
								<h3>Our Address</h3>
								<p>
									E-TEC <br>
									12 Spadina Road, Unit 520 <br>
									Toronto, Ontario <br> 
									M2C, 5E7
								</p>
							</div>
							<div class="4u 12u$(medium)">
								<h3>Contact Us</h3>
								<p>
									647-201-4812 <br>
									welcome@e-tec.ca
								</p>
							</div>
							<div class="4u$ 12u$(medium)">
								<h3>Social Media</h3>
								<p>
									<span class="icon fa-facebook-f right">&emsp; pages/etec</span> <br>
									<span class="icon fa-instagram right"> &emsp; @e-tec</span> <br>
									<span class="icon fa-linkedin right">&emsp; e-tec</span>
								</p>
							</div>
						</div>
					<div class="copyright">
						&copy;<a href="javascript:void(0);" onclick="swapPage('home', true);">E-TEC</a>. Design: <a href="https://atomictech.ca">Atomic Tech</a>. 
					</div>
					
				</div>
			</footer>

			<script type="text/javascript">
				function contact_us() {
					// get variables
					var name = $("#name").val();
					var mail = $("#email").val();
					var message = $("#message").val();

					// confirm all fields are filled out
					if (name == "" || mail == "" || message == "") {
						$("#error_contact").html("<p>Please fill out all fields.</p>");
						return false;
					}

					// check if mail is a valid email address
					if (!validateEmail(mail)) {
						$("#error_contact").html("<p>E-mail address is in an incorrect format.</p>");
						return false;
					}

					// ajax call to send email
					$.post("/api/contact/", {name: name, mail: mail, message: message}, function(data) {
						$("#error_contact").html("<p>E-mail has been sent to E-TEC successfully.</p>");
					}).fail(function(jqXHR) {
						$("#error_contact").html("<p>Failed to send email to E-TEC.</p>");
						$("#error_contact").append("<p>" + jqXHR.responseJSON.error + "</p>");
					});

					return false;
				}

				function validateEmail(email) {
					var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					return re.test(email);
				}

				function scrollTo(div) {
					$('html,body').animate({
						scrollTop: $(div).offset().top-10
					});
				}
			</script>