<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>E-TEC</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/atomic.css' %}" />
		<link rel="shortcut icon" type="image/png" href="{% static 'images/logoblack.png' %}" />
	</head>
	<body>

		<div id="single_page">
		</div>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">

				<h3 id="contact_form">Get in touch</h3>

				<form onsubmit="return contact_us();">

					<div class="field half first">
						<label for="name">Name</label>
						<input name="name" id="name" type="text" placeholder="Name">
					</div>
					<div class="field half">
						<label for="email">Email</label>
						<input name="email" id="email" type="email" placeholder="Email">
					</div>
					<div class="field">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
					</div>
					<div id="error_contact">

					</div>
					<ul class="actions">
						<li><input value="Send Message" class="button alt" type="submit"></li>
					</ul>
				</form>
				<hr class="major" />
				<div class="row">
						<!-- Break -->
						<div class="4u 12u$(medium)">
							<h3>Our Address</h3>
							<p>
								E-TEC <br>
								12 Spadina Road, Unit 520 <br>
								Toronto, Ontario <br> 
								M2C, 5E7
							</p>
						</div>
						<div class="4u 12u$(medium)">
							<h3>Contact Us</h3>
							<p>
								647-201-4812 <br>
								welcome@e-tec.ca
							</p>
						</div>
						<div class="4u$ 12u$(medium)">
							<h3>Social Media</h3>
							<p>
								<span class="icon fa-facebook-f right">&emsp; pages/etec</span> <br>
								<span class="icon fa-instagram right"> &emsp; @e-tec</span> <br>
								<span class="icon fa-linkedin right">&emsp; e-tec</span>
							</p>
						</div>
					</div>
				<div class="copyright">
					&copy;<a href="javascript:void(0);" onclick="swapPage('home', true);">E-TEC</a>. Design: <a href="https://atomictech.ca">Atomic Tech</a>. 
				</div>
				
			</div>
		</footer>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/skel.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>
		<script src="{% static 'assets/js/atomic.js' %}"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				initSP("{{ page }}");
			});
		</script>
	</body>
</html>