<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>E-TEC</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/home/" class="logo">
						<img src="{% static 'images/logo.png' %}" style="width: 60px; height: 60px;" alt="E-TEC">
					</a>
					<nav id="nav">
						<a href="/home/">Home</a>
						<a href="/services/">Services</a>
						<a href="/about/">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to E-TEC</h1>
						<p>Excellence Training and Education Company<br>
							We provide specialized training programs for your workforce.</p>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-clone"></span>
							<h3>Excel</h3>
							<p>Efficient, data trends, great charts.</p>
						</div>

						<div>
							<span class="icon fa-bolt"></span>
							<h3>Management</h3>
							<p>Leadership, strategy, work culture.</p>
						</div>

						<div>
							<span class="icon fa-eye"></span>
							<h3>Policy</h3>
							<p>Security, governance, cultural.</p>
						</div>

					</div>

					<footer>
						<a href="#" class="button">Get Started</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image">
								<img src="{% static 'images/excel.png' %}" alt="Excel" />
							</div>
							<header>
								<h3>Create New<br /> Insights</h3>
							</header>
							<p>
								Excel is a powerful productivity tool to have.<br />
								Ensure your employees take full advantage <br />
								by learning the fundemental techniques.
							</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
						<article>
							<div class="image">
								<img src="{% static 'images/culture.png' %}" alt="Culture" />
							</div>
							<header>
								<h3>Build Great<br /> Work Culture</h3>
							</header>
							<p>
								Invest in your workforce. Bring your team together <br />
								with educational leadership and teamwork services.<br />
								Unlock the potential of your people.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>
					<hr class="major" />
					<div class="row">
							<!-- Break -->
							<div class="4u 12u$(medium)">
								<h3>Our Address</h3>
								<p>
									E-TEC <br>
									12 Spadina Road, Unit 520 <br>
									Toronto, Ontario <br> 
									M2C, 5E7
								</p>
							</div>
							<div class="4u 12u$(medium)">
								<h3>Contact Us</h3>
								<p>
									647-201-4812 <br>
									welcome@e-tec.ca
								</p>
							</div>
							<div class="4u$ 12u$(medium)">
								<h3>Social Media</h3>
								<p>
									<span class="icon fa-facebook-f right">&emsp; pages/etec</span> <br>
									<span class="icon fa-instagram right"> &emsp; @e-tec</span> <br>
									<span class="icon fa-linkedin right">&emsp; e-tec</span>
								</p>
							</div>
						</div>
					<div class="copyright">
						&copy;<a href="/home/">E-TEC</a>. Design: <a href="https://atomictech.ca">Atomic Tech</a>. 
					</div>
					
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
	</body>
</html>