{% load static %}
<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="javascript:void(0);" onclick="swapPage('home', true);" class="logo">
						<img src="{% static 'images/logo.png' %}" style="width: 60px; height: 60px;" alt="E-TEC">
					</a>
					<nav id="nav">
						<a href="javascript:void(0);" onclick="swapPage('home', true);">Home</a>
						<a href="javascript:void(0);" onclick="swapPage('services', true);">Courses</a>
						<a href="javascript:void(0);" onclick="swapPage('about', true);">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="background-image: url({% static 'images/innovatebanner.jpg' %})">
				<div class="inner">
					<header>
						<h1>Innovative Rehabilitation</h1>
						<h3>Our courses include, but are not limited to</h3>
					</header>
				</div>
			</section>
			<div class="inner">
				<hr class="major" />
				<!-- Content -->
				<h2 id="content">Multi-factorial Strategies of Home Modification
				</h2>
					<p>For clients with physical limitations due to injury or chronic illness, home modification is a fundamental component in rehabilitation. Each patient’s case requires a personalized treatment plan that integrates assistive devices in the home. This course emphasizes ergonomic assessment techniques and application methods that will increase clients’ independence and restore the ability to perform activities of daily living. Our training highlights the importance of educating patients on safe usage of specific assistive devices, correct application procedures for patient assistance programs, and equipping care providers with the knowledge needed to develop effective treatment strategies.
					</p>
				<hr class="major"/>
				<!-- Content -->
				<h2 id="content">Chronic Pain Management and Innovative Treatment Strategies</h2>
					<p>Chronic pain management poses a unique set of challenges to rehabilitation specialists and requires personalized, innovative treatment strategies. This customizable course is designed for chiropractic and physiotherapy clinics, occupational therapists, and community or multi-disciplinary rehabilitation, medical professionals to develop and improve upon skills relating to assessment, consultation, and treatment for patients living with chronic pain. Health care professionals who complete this course will build upon the following skills:
					</p>
					<p>
					1. Categorizing patients into accurate care groups.
					</p>		
					<p>
					2. Treatment strategies for specific chronic pain conditions.
					</p>
					<p>
					3. Health care practices for physiotherapists and occupational therapists.
					</p>
					<p>
					4. Utilizing knowledge gained from the Neuro-Rumsey Chronic Pain program to deliver multi-faceted treatment strategies.
					</p>
					<p>
					5. Practical data collection and analysis for research studies.
					</p>
				<hr class="major" />
				<!-- Content -->
				<h2 id="content">Game Ready Operation Protocols
				</h2>
					<p>Game Ready is a revolutionary treatment system that sets a new standard in recovery for acute musculoskeletal injuries and post-op rehabilitation. Our in-depth operations training for this new technology is essential for medical specialists who want to stay up to date on the latest innovations in treatment methods. This course details best practices for the Game Ready pneumatic compression system along with ways to integrate this technology with traditional forms of physiotherapy and chiropractic rehabilitation. Compression therapy providers who complete our training will gain technical skills and practical knowledge needed to keep your clinic on the cutting-edge.
					</p>
				<hr class="major" />
			</div>