{% load static %}
<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="javascript:void(0);" onclick="swapPage('home', true);" class="logo">
						<img src="{% static 'images/logo.png' %}" style="width: 60px; height: 60px;" alt="E-TEC">
					</a>
					<nav id="nav">
						<a href="javascript:void(0);" onclick="swapPage('home', true);">Home</a>
						<a href="javascript:void(0);" onclick="swapPage('services', true);">Courses</a>
						<a href="javascript:void(0);" onclick="swapPage('about', true);">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="background-image: url({% static 'images/managebanner.jpg' %})">
				<div class="inner">
					<header>
						<h1>Strategic Management</h1>
						<h3>Our courses include, but are not limited to</h3>
					</header>
				</div>
			</section>
			<div class="inner">
				<hr class="major"/>
				<!-- Content -->
				<h2 id="content">Managing Leaders
				</h2>
					<p>Maximize productivity, resources, and overall employee performance with our targeted managerial psychology courses. We’ve identified the skills needed to develop insightful supervisors and managers that are capable of leading a successful team. By integrating participative management techniques with multiple leadership styles, we’ve compiled a course that increases the ability to motivate, communicate, and self-actualize the full potential of your team. Skills attained from this course include:
					</p>
					<p>
					1. Proactively assessing potential impediments to peak workplace functionality.
					</p>		
					<p>
					2. Effective methods of providing feedback and ensuring employee recognition.
					</p>
					<p>
					3. Organizational development and daily decision making processes.
					</p>
					<p>
					4. Providing outside development to encourage hard work and increase morale.
					</p>
				<hr class="major" />
				<!-- Content -->
				<h2 id="content">Tactical Team Building 
				</h2>
					<p>Transforming a diverse group of individuals into a successful team is an immensely beneficial challenge for any business to overcome. Personal differences, employee stress levels, and contrasting communication methods all have the potential to divide employees and drastically lower productivity, unless regular team-building measures are set in place. By emphasizing diversity and encouraging employees to share their perspectives, this course will reduce groupthink and replace it with thoughtful participation in the workplace. Our online module sets the groundwork for tactical team building with the option of customizing in-person training specific to your work environment. Both course types are designed to increase employee engagement, boost productivity and foster positive workplace relations. 
						</p>
				<hr class="major" />
				<!-- Content -->
				<h2 id="content">Maintaining Office Morale
				</h2>
				<p>There are a variety of personal and professional causes for lowered morale, all of which have the potential to lower productivity by about 12% according to a study at the University of Warwick. Every workplace observes fluctuations in employee happiness, but left unchecked, one negative attitude is likely to spread and drastically decrease quality work output. With the right training, managers will gain the ability to maintain high levels of office morale and appropriately resolve threats to employee satisfaction as they arise. This course will equip managers with the tools to effectively address threats to morale, including:
					</p>
					1. Managing stress, life changes, and personal problems that could negatively impact performance.
					</p>		
					<p>
					2. Providing positive feedback and constructive criticism without micromanaging.
					</p>
					<p>
					3. Changes in leadership or lack of clarity in roles, responsibilities, and expectations.
					</p>
					<p>
					4. Developing employee autonomy, trust, and mutual respect.
					</p>
				<hr class="major" />
			</div>