{% load static %}
<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="javascript:void(0);" onclick="swapPage('home', true);" class="logo">
						<img src="{% static 'images/logo.png' %}" style="width: 60px; height: 60px;" alt="E-TEC">
					</a>
					<nav id="nav">
						<a href="javascript:void(0);" onclick="swapPage('home', true);">Home</a>
						<a href="javascript:void(0);" onclick="swapPage('services', true);">Services</a>
						<a href="javascript:void(0);" onclick="swapPage('about', true);">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="background-image: url({% static 'images/policybanner.jpg' %})">
				<div class="inner">
					<header>
						<h1>Business Administration Courses</h1>
						<div class="button" onclick="scrollToDiv('#contact_form');">Contact Us</div>
						<br>
						<br>
						<br>
						<h3>These courses include, but are not limited to</h3>
					</header>
				</div>
			</section>
			<div class="inner">
				<hr class="major"/>
				<!-- Content -->
				<h2 id="content">AdBuilding Admin-Blocks</h2>
					<p>Comprehensive training for administrative professionals is integral to a flawlessly functioning and efficient clinic. This course explains the necessary skills required of administrative assistants, the intricacies of their responsibilities and services provided, and the many benefits of administration as a career field. All training materials were developed based on company requirements for Billing/Administration divisions to deliver an Administrative Assistant Certification that leads the way in online skill-testing and career development. Administrative professionals who complete this course will gain invaluable knowledge specific to advanced business administration, including: rehabilitation legislation and regulations, the billing process following an automobile accident, and technical procedures required for filing claims.						
					</p>
				<hr class="major" />
				<!-- Content -->
				<h2 id="content">Antibex Software and Business Functions
				</h2>
					<p>A key part of administrative duties for any medical practice is the implementation of a unified system for scheduling, documentation, and organization, made possible with Antibex’s Universal Scheduling software. The true potential of any clinic can only be reached by a knowledgeable team with technical proficiency when recording client information, following appropriate billing procedures, and filing successful claims. Administrative assistants that complete this training will be fluent in the functions of universal scheduling and show proficiency with the following:
					</p>
					<p>
					1. Creating HCAI and FISCO reports along with tracking them.
					</p>		
					<p>
					2. Billing reconciliation and managing long-term outstandings.
					</p>
					<p>
					3. What differentiates an OCF-13, OCF-23, OCF-21B and OCF-21C.
					</p>
					<p>
					4. Successfully handling adjuster responses.
					</p>
				<hr class="major" />
				<!-- Content -->
				<h2 id="content">Integrated Disability Management Billing Procedures
				</h2>
					<p>Our IDM billing procedures were developed in conjunction with Rakurs Inc. to address company requirements for administrative professionals and medical practitioners with applicable workplace experience and relevant academic backgrounds. Our training takes a multi-disciplinary approach to managing catastrophic clients while meeting Canada-Ontario Job Grant requirements. Using industry best practices in all of our online and on-site training, this course address all forms of disability and the relevant management procedures for each case. We go beyond the basics of billing and offer course customization that will seamlessly integrate with company-specific enterprise resource planning software.
					</p>
				<hr class="major" />
			</div>