{% load static %}
		<!-- Header -->
			<header id="header" style="background: #6cc091;">
				<div class="inner">
					<a href="javascript:void(0);" onclick="swapPage('home', true);" class="logo">
						<img src="{% static 'images/logo.png' %}" style="width: 40px; height: 40px; margin-top: 8px" alt="E-TEC">
					</a>
					<nav id="nav">
						<a href="javascript:void(0);" onclick="swapPage('home', true);">Home</a>
						<a href="javascript:void(0);" onclick="swapPage('services', true);">Services</a>
						<a href="javascript:void(0);" onclick="swapPage('about', true);">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
            </header>
        <!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Services</h2>
						<p>Our services include, but are not limited to </p>
						<div class="button" onclick="scrollToDiv('#contact_form');">Contact Us</div>
                    </header>
                    <hr class="major" />
                    <!-- Content -->
						<div class="row">
							<section class="6u 12u$(medium)">
								<h2>Innovative Rehabilitation</h2>
								<p>Our state of the art rehabilitation training combines online courses with on-site practical applications specifically designed to sharpen the skills of educated medical professionals, from Physiotherapists and Chiropractors to Occupational Therapists and Personal Support Workers. Our courses detail case management strategies, analytical skill development, practical data collection, and operation of innovative technologies, resulting in elevated client care. With a performance-based approach, our training enhances the professional skills of care providers and delivers the most effective treatment plans for a myriad of cases. 
								</p>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Online Modules</h3>
								<p>
									<strong>Integrated</strong> Disability Management <br>
									<strong>Multi-factoral</strong> Strategies of Home Modification <br>
									<strong>Chronic Pain</strong> Management and Game Ready Operation <br>
								</p>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Learn More</h3>
								<div class="button" onclick="scrollToDiv('#contact_form');">Contact Us</div>
							</section>
                        </div>
                        <hr class="major" />

                        <!-- Content -->
						<div class="row">
							<section class="6u 12u$(medium)">
								<h2>Strategic Management</h2>
								<p>A functional team is your organization’s most valuable resource. Creating and maintaining that team requires knowledgeable and supportive leaders. Our management and work culture training focuses on leadership, team building, and aligning individual objectives with the goals of your organization. Learning to clearly communicate between team members and management is a central theme in our training programs. We utilize the newest developments in Psychology and Management Theory to inform successful leaders and increase workplace productivity. 
								</p>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Online Modules</h3>
								<p>
									<strong>Managing</strong> Leaders <br>
									<strong>Tactical</strong> Team Building <br>
									<strong>Maintaining</strong> Office Morale <br>
								</p>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Learn More</h3>
								<div class="button" onclick="scrollToDiv('#contact_form');">Contact Us</div>
							</section>
                        </div>
                        <hr class="major" />
                        <!-- Content -->
						<div class="row">
							<section class="6u 12u$(medium)">
								<h2>Business Administration</h2>
								<p>Policies can change frequently and impact the everyday functions of any business. Our training options prepare your administrative team to react and adapt as these changes occur, without disrupting existing processes. Our comprehensive combination of online modules with hands-on training generates well-rounded administrative professionals that are confident and capable of maintaining an efficient workplace. By incorporating external and internal policy training, we create customized courses that build upon company-specific fundamentals and develop the administrative team of your dreams. 
								</p>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Online Modules</h3>
								<p>
									<strong>Building</strong> Admin Blocks <br>                                       
									<strong>Disability</strong> Management and Billing Procedures <br>  
									<strong>Antibex</strong> Software and Business Functions <br>    
								</p>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Learn More</h3>
								<div class="button" onclick="scrollToDiv('#contact_form');">Contact Us</div>
							</section>
                        </div>
                        <hr class="major" />
                </div>
            </section>