{% load static %}
		<!-- Header -->
			<header id="header" style="background: #6cc091;">
				<div class="inner">
					<a href="javascript:void(0);" onclick="swapPage('home', true);" class="logo">
						<img src="{% static 'images/logo.png' %}" style="width: 40px; height: 40px; margin-top: 5px" alt="E-TEC">
					</a>
					<nav id="nav">
						<a href="javascript:void(0);" onclick="swapPage('home', true);">Home</a>
						<a href="javascript:void(0);" onclick="swapPage('services', true);">Services</a>
						<a href="javascript:void(0);" onclick="swapPage('about', true);">About</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
            </header>
        <!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Services</h2>
						<p>Our services include, but are not limited to: </p>
                    </header>
                    <hr class="major" />
                    <!-- Content -->
						<div class="row">
							<section class="6u 12u$(medium)">
								<h2>Excel Training</h2>
								<p><strong>Excel</strong> is the most powerful tool in the Microsoft Office Suite, yet most employees have little to no formal training. We cater to beginners in technology and advanced Microsoft Office professionals. We cover advanced training including VBA Marcros, Data Analysis and integration with Microsoft Access, Word and Powerpoint. Our knowledgable staff will provide your employees with the confidence to build effective tools. </p>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Excel Basics</h3>
								<p>Our Excel Basics program is a great starting place for new users. We cover fundamentals such as using functions, creating formaulas, formatting worksheets and visualizing data. Create great habits from the start with formatting standards and best practices.</p>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Advanced Excel</h3>
								<p>Our Advanced Excel program is perfect for self-taught Excel users wanting to brush up on their skills, or long time Excel professionals looking to learn about new functions. We cover VBA Macros, Pivot Table Analysis, What-If Scenarios and Solver.</p>
							</section>
                        </div>
                        <hr class="major" />

                        <!-- Content -->
						<div class="row">
							<section class="6u 12u$(medium)">
								<h2>Management Training</h2>
								<p><strong>Your Team</strong> is your organizations most invaluable resource. Our Management and Culture Training is beneficial for all teams new and old. We focus on bringing the team together and aligning individual objectives with the organization. Learning to clearly communicate between team members and management is a central theme in all of our programs. We utilize the newest developments in Psychology and Management Theory to train your next generation of leaders.</p>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Leadership</h3>
								<p>Leadership is a skill that all employees should hone. Everyone from an experienced leader to a new employee can benefit from our training, whether they are leading a hundred person team or a small project. Our program will develop all of the soft skills needed to manage and motivate a group.</p>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Team Building</h3>
								<p>Our Team Building program helps to bring teams together. We focus on allowing your team to effectively contribute to the organization through improving your ability to collaborate and resolve problems. We serve the needs of the modern cross-functional, global or virtual team. </p>
							</section>
                        </div>
                        <hr class="major" />
                        <!-- Content -->
						<div class="row">
							<section class="6u 12u$(medium)">
								<h2>Policy Training</h2>
								<p><strong>Policies</strong> affect every organization and it is critical to have an understanding of the ones that impact your business. Policies can change frequently, and our program will allow your team to react and adapt to these changes as they occur without disrupting existing processes. In addition, our program covers fundamentals for organizations looking to create or improve upon their IT, privacy or governance policies.</p>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>External Policies</h3>
								<p>External Policies are set in place by governing bodies and can have diverse effects on business if you are not compliant. Learn how to engage funders in policy change and understand political staff in our program.</p>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Internal Policies</h3>
								<p>Internal Policies are essential for growing businesses to protect your company and customers. Our programs focuses on developing IT and Privacy policies that withstand the changing technological landscape.</p>
							</section>
                        </div>
                        <hr class="major" />
                </div>
            </section>
            <!-- Footer -->
			<footer id="footer">
                <div class="inner">

                    <h3>Get in touch</h3>

                    <form action="#" method="post">

                        <div class="field half first">
                            <label for="name">Name</label>
                            <input name="name" id="name" type="text" placeholder="Name">
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input name="email" id="email" type="email" placeholder="Email">
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input value="Send Message" class="button alt" type="submit"></li>
                        </ul>
                    </form>
                    <hr class="major" />
                    <div class="row">
                            <!-- Break -->
                            <div class="4u 12u$(medium)">
                                <h3>Interdum sapien gravida</h3>
                                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
                            </div>
                            <div class="4u 12u$(medium)">
                                <h3>Faucibus consequat lorem</h3>
                                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
                            </div>
                            <div class="4u$ 12u$(medium)">
                                <h3>Accumsan montes viverra</h3>
                                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
                            </div>
                        </div>
                    <div class="copyright">
						&copy;<a href="javascript:void(0);" onclick="swapPage('home', true);">E-TEC</a>. Design: <a href="https://atomictech.ca">Atomic Tech</a>. 
					</div>
                    
                </div>
            </footer>